.accordion-form {
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: medium;
  font-family: inherit;
}

span {
  color: #ccc;
}