.choice {
  font-size: medium;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10px;
  background-color: var(--background-color);
}

.choiceItem {
  display: flex;
}

.choice input {
  margin: 4px;
}

