.form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: medium;
  background-color: var(--background-color);
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form label {
  margin-top: 10px;
  margin-bottom: 4px;

}

.form input {
  padding: 8px 4px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: small;
  font-family: inherit;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.form button {
  width: 100%;
  padding: 8px 0px;
  background-color: var(--form-button-color);
  color: var(--form-button-text-color);
  font-size: medium;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover {
  background-color: var(--form-button-color-hover);
}