.header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  flex: 0 0;
  background-color: floralwhite;
  padding: 0.5em;
  margin: 0.1em;
}

/* .header h3 {
  margin: 0px;
} */

/* .header tr {
  font-size: 14px;
  background-color: floralwhite;
} */

/* .header th {
  background-color: rgb(255, 240, 240);
} */