/* Modal.css */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  backdrop-filter: blur(2px);    /* ✨ blur effect */
  -webkit-backdrop-filter: blur(2px);    /* for Safari */
  animation: fadeIn 0.3s ease;
}

.modal-content {
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 10px 30px var(--bg-color);

  animation: slideUp 0.3s ease;
}

.modal-content-error {
  color: var(--error-color);
}

.modal-close {
  width: 100%;
  padding: 8px 0px;
  background-color: var(--form-button-color);
  color: var(--form-button-text-color);
  font-size: medium;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  border-radius: 5px;
}

.modal-content textarea {
  font-size: small;
  color: var(--text-color);

  font-family: inherit;
  width: 100%;
  background-color: var(--background-color);
  min-height: min-content;
  box-sizing: border-box;
  resize: vertical;
  white-space: pre-wrap;
}
/* Animations */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}