.script-detail {
  padding: 10px;
}

.script-detail label {
  font-weight: 600;
  font-size: medium;
}

.script-detail textarea {
  font-size: small;
  color: var(--text-color);

  font-family: inherit;
  width: 100%;
  background-color: var(--background-color);
  min-height: fit-content;
  box-sizing: border-box;
  border: none;
  resize: vertical;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-all;
}