
.app-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  background-color: #ccc;
  background-blend-mode: multiply;
  height: 100dvh;
  font-family: sans-serif;
  overflow: scroll;
}

.main-content {
  flex: 1 1;
  display: flex;
  flex-direction: row; /* default row */
  flex-wrap: nowrap;  /* default nowrap */

  background-color: floralwhite;
  margin: 0.1em;
  /* padding: 0; */

  /* justify-content: flex-start; */
  /* align-items: baseline; */

}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;

  background-color:floralwhite;
  border-right: 5px solid #ccc;
  padding: .5em;
}

.sidebar h3 {
  padding: 1em;
}

.view-panel {
  width: 100%;
  padding: .5em;
}
